<% include ../partials/header %>

<div class="ui main text container">
    <div class="ui huge header">RESTful Blog App</div>
    <div class="ui top attached segment">
        <% if (blogs.length > 0){%>
        <div class="ui divided items">
            <% blogs.reverse(); %>
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>">
                        <div class="forBigScreen">
                            <div class="authorOnIndex"><a href="/users/<%= blog.author.id %>" class="postUsername"><%= blog.author.username %></a></div>
                            <div class="meta"><%= blog.comments.length %> comments</div>
                        </div>
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body.substring(0, 100) %>...</p>
                        </div>
                        <br class="forBigScreen">
                        <div class="extra">
                            <a class="ui floated secondary button" href="/blogs/<%= blog._id %>">
                                Read more
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <% } else { %>
            <p class="centered">No blogs to display. <a href="/blogs/new">Get started</a>!</p>
        <% } %>
    </div>
</div>

<br>

<% include ../partials/footer %>