<% include ../partials/header %>

<div class="ui main text container segment">
    
    <!--blog-->
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img onerror="this.src='https://cdn.shopify.com/s/files/1/1380/9193/t/3/assets/no-image.svg?2375582141201571545'" class="ui centered rounded image" src="<%= blog.image %>">
            <div class="description">
                <br>
                <div>
                    <a href="/users/<%= blog.author.id %>" class="postUsername"><%= blog.author.username %></a>
                    <span class="postDate"> on <%= blog.created.toDateString() %></span>
                </div>
                <br>
                <p><%- blog.body %></p> <!-- this will run/evaluate the code -->
            </div>
        </div>
        <br>
        
        <div class="heightener">
          <!--edit blog button-->
              <% if(currentUser && blog.author.id.equals(currentUser)){ %>
                <span><a class="ui blue button" id="editBlog" href="/blogs/<%= blog._id %>/edit"><i class="icon edit"></i>Edit blog</a><span>
              <% } %>
          <div class="extra heightener">
              <!--back button-->
              <a class="ui secondary button" href="/blogs/">
                  <i class="left chevron icon"></i>Go back
              </a>
          </div>
        </div>
    
    <!--comment section-->
    <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
  
      <div class="actions">
        <% if(currentUser){ %>
            <a class="reply active" id="addComment">Add new comment <i class="dropdown icon addComment"></i><i class="angle up icon addComment"></i></a>
          </div>
          <form class="ui reply form" id="commentInput" action="/blogs/<%= blog._id %>/comments" method="POST">
            <div class="field">
              <textarea name="comment[text]" type="text"></textarea>
            </div>
            <input class="ui floated primary button" type="submit" value="Add Comment">
          </form>
        <% } else { %>
          <span><a class="reply active" href="/login">Log in</a> to add a comment</span>
          <br>
        <% } %>
      <br>
      
      <% if(blog.comments.length > 0){ %>
      <% blog.comments.reverse(); %>
        <% blog.comments.forEach(function(comment){ %>
          <div class="comment">
            <a class="avatar">

            <% users.forEach(function(user){ %>
              <% if(user._id.equals(comment.author.id)){ %>
                <img onerror="this.src='http://18cg.com/wp-content/uploads/2017/05/user-icon-27998.png'" src="<%= user.image %>">
                <% return %>
              <% } %>
            <% }); %>

            </a>
            <div class="content">
              <a class="author" href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
              <div class="metadata">
                <span class="date"><%= comment.created.toDateString() %></span>
              </div>
              <div class="text">
                <%= comment.text %>
              </div>
              <!--<div class="actions">-->
              <!--  <a class="reply">Reply</a>-->
              <!--</div>-->
              <br>
            </div>
          </div>
        <% }); %>
      <% } %>
      
    </div>
  </div>

<% include ../partials/footer %>