<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="description">
                <br>
                <div>
                    <a href="/users/<%= blog.author.id %>" class="postUsername"><%= blog.author.username %></a>
                    <span class="postDate"> on <%= blog.created.toDateString() %></span>
                </div>
                <br>
                <p><%- blog.body %></p> <!-- this will run/evaluate the code, see notes -->
            </div>
        </div>
        <br>
        
        <!--user options-->
        
        <% if(currentUser && blog.author.id.equals(currentUser)){ %>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <a class="ui yellow button" href="/blogs/<%= blog._id %>/edit"><i class="icon edit"></i>Edit</a>
                <button class="ui red button">Delete</button>
                <div class="extra">
                    <a class="ui floated secondary button" href="/blogs/">
                        <i class="left chevron icon"></i>Go back
                    </a>
                </div>
            </form>
        <% } else { %>
            <form id="delete">
                <div class="heightener">
                  <div class="extra heightener">
                      <a class="ui secondary button" href="/blogs/">
                          <i class="left chevron icon"></i>Go back
                      </a>
                  </div>
                </div>
            </form>
        <% } %>
    </div>
    
    
    <!--comment section-->
    
    <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
  
      <div class="actions">
        <% if(currentUser){ %>
            <a class="reply active" id="addComment">Add new comment <i class="dropdown icon addComment"></i><i class="angle up icon addComment"></i></a>
          </div>
          <form class="ui reply form" id="commentInput" action="/blogs/<%= blog._id %>/comments" method="POST">
            <div class="field">
              <textarea name="comment[text]" type="text"></textarea>
            </div>
            <input class="ui floated primary button" type="submit" value="Add Comment">
          </form>
        <% } else { %>
          <span><a class="reply active" href="/login">Log in</a> to add a comment</span>
          <br>
        <% } %>
      <br>
      
      <% if(blog.comments.length > 0){ %>
        <% blog.comments.forEach(function(comment){ %>
          <div class="comment">
            <a class="avatar">

            <% users.forEach(function(user){ %>
              <% if(user._id.equals(comment.author.id)){ %>
                <img src="<%= user.image %>">
                <% return %>
              <% }%>
            <% }); %>
              
            </a>
            <div class="content">
              <a class="author"><%= comment.author.username %></a>
              <div class="metadata">
                <span class="date"><%= comment.created.toDateString() %></span>
              </div>
              <div class="text">
                <%= comment.text %>
              </div>
              <!--<div class="actions">-->
              <!--  <a class="reply">Reply</a>-->
              <!--</div>-->
              <br>
            </div>
          </div>
        <% }); %>
      <% } %>
      
    </div>
  </div>

<% include ../partials/footer %>