<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </head>
    <body>
    <div class="ui fixed inverted menu" id="navbar">
        <div class="ui container">
          <a class="header item">
            <i class="blogger icon"></i>
            <span id="headerProjectName">Project Name</span>
          </a>
          <a href="/blogs" class="item" id="headerMenuBlog">Blogs</a>
          <a href="/blogs/new" class="item" id="headerMenuNewBlog">New Blog</a>
          <div class="ui simple dropdown item" id="headerMenuDropdown">
            Menu <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/blogs">Blogs</a>
              <a class="item" href="/blogs/new">New Blog</a>
            </div>
          </div>
        </div>
        <div class="ui container">
            <div class="ui inverted menu" id="loginMenu">
                <% if(!currentUser){ %>
                    <div class="ui simple dropdown item" id="headerUserMenuDropdown">
                        <i class="user outline icon"></i> User <i class="dropdown icon"></i>
                        <div class="menu">
                          <a class="item" href="/login">Login</a>
                          <a class="item" href="/register">Register</a>
                        </div>
                    </div>
                    <a href="/login" class="item" id="signIn">
                    <i class="sign in alternate icon"></i>Login</a>
                    <a href="/register" class="item" id="register">Register</a>
                <% } else { %>
                    <a>
                        <div class="ui simple dropdown item" id="userOptions">
                            <img class="ui avatar image" onerror="this.src='http://18cg.com/wp-content/uploads/2017/05/user-icon-27998.png'" src="<%= currentUser.image %>">
                            <%=currentUser.username %>
                            <i class="dropdown icon"></i>
                    </a>
                            <div class="menu">
                              <a class="item" href="/users/<%=currentUser._id%>/blogs">My Blogs</a>
                              <a class="item" href="/users/<%=currentUser._id%>/private">My Profile</a>
                              <div class="divider"></div>
                              <a href="/logout" class="item" href="#">Logout</a>
                            </div>
                        </div>
                  <% } %>
              </div>
        </div>
    </div>
        <% if(error && error.length > 0){ %>
            <div class="flashMessageWrapper flashMessageWrapperError">
                <div class="flashMessage ui container">
                    <div class="ui compact warning message">
                        <%= error %>
                    </div>
                </div>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="flashMessageWrapper flashMessageWrapperSuccess">
                <div class="flashMessage ui container">
                    <div class="ui compact positive message">
                        <%= success %>
                    </div>
                </div>
            </div>
        <% } %>