<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </head>
    <body>
        
        <div class="ui inverted vertical masthead center aligned segment" id="navbar">
        
            <div class="ui container">
              <div class="ui large secondary inverted pointing menu">
                <a class="item">
                  <i class="blogger icon"></i>
                </a>
                <div class="ui simple dropdown" id="headerMenuDropdown"> 
                    <div class="item">
                      <i class="sidebar icon"></i>
                    </div>
                    <div class="menu">
                        <a class="item" href="/blogs">Blogs</a> 
                        <a class="item" href="/blogs/new">New Blog</a>
                    </div>
                </div>
                <a class="active item" href="/blogs" id="headerMenuBlogs">Blogs</a>
                <a class="item" href="/blogs/new" id="headerMenuNewBlog">New Blog</a>
                <% if(!currentUser){ %>
                <div class="right item">
                  <a class="ui inverted button" href="/login">Login</a>
                  <a class="ui inverted button" href="/signup">Sign Up</a>
                </div>
                <% } else { %>
                <div class="right simple dropdown item">
                  <a class="item headerUserMenuItem" href="/users/<%= currentUser._id %>">
                      <img class="ui avatar image" id="headerUserImage" img onerror="this.src='https://cdn.shopify.com/s/files/1/1380/9193/t/3/assets/no-image.svg?2375582141201571545'" src="<%= currentUser.image %>">
                      <%= currentUser.username %>
                  </a>
                </div>
                <% } %>
                </div>
              </div>
            </div>
            
        </div>
        
        <% if(error && error.length > 0){ %>
            <div class="flashMessageWrapper flashMessageWrapperError">
                <div class="flashMessage ui container">
                    <div class="ui compact warning message">
                        <%= error %>
                    </div>
                </div>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="flashMessageWrapper flashMessageWrapperSuccess">
                <div class="flashMessage ui container">
                    <div class="ui compact positive message">
                        <%= success %>
                    </div>
                </div>
            </div>
        <% } %>