<% include ../partials/header %>

<div class="ui main text container">
    <div class="ui top attached segment">
        <div class="ui huge header"><h2 class="ui dividing header">Blogs by <%= user.username %></h2></div>
        <% if (blogs.length > 0){%>
            <div class="ui divided items">
                <% blogs.reverse(); %>
                <% blogs.forEach(function(blog){ %>
                    <div class="item">
                        <div class="image">
                            <img onerror="this.src='https://cdn.shopify.com/s/files/1/1380/9193/t/3/assets/no-image.svg?2375582141201571545'" src="<%= blog.image %>">
                            <div class="authorOnIndex"><a href="/users/<%= blog.author.id %>" class="postUsername"><%= blog.author.username %></a></div>
                            <div class="ui meta"><%= blog.comments.length %> comments</div>
                        </div>
                        <div class="content">
                            <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                            <div class="meta">
                                <span><%= blog.created.toDateString() %></span>
                            </div>
                            <div class="description">
                                <p><%- blog.body.substring(0, 100) %>...</p>
                            </div>
                            <div class="extra">
                                <a class="ui floated secondary button" href="/blogs/<%= blog._id %>">
                                    Read more
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p class=centered><%= user.username %> has not posted any blogs yet.</p>
        <% } %>
    </div>
</div>

<br>

<% include ../partials/footer %>