<% include ../partials/header %>

<div class="ui main text container card">
    <div class="image">
      <img onerror="this.src='https://cdn.shopify.com/s/files/1/1380/9193/t/3/assets/no-image.svg?2375582141201571545'" src="<%= user.image %>">
    </div>
    <div class="content">
        <div class="header"><%= user.username %></div>
        <div class="meta">
          <span class="date">Joined on 
          <%var created = user.created.toDateString()%>
          <%= created %>
          </span>
        </div>
        <div class="description">
            <%= user.description %>
        </div>
    </div>
    <div class="extra content">
        <a class="floatLeft" href="/users/<%= user._id %>/blogs">
          <i class="pencil alternate icon"></i>
          <% if(blogs.length != 1){ %>
              <%= blogs.length %> Blogs
          <% } else {%>
                1 Blog
          <% } %>
        </a>
        <a>
          <i class="user icon"></i>
          <% if(user.friends.length != 1){ %>
              <%= user.friends.length %> Friends
          <% } else {%>
                1 Friend
          <% } %>
        </a>
    </div>
</div>

<br>

<% include ../partials/footer %>